/*
  1 - Modifique o família do h1 para sans-serif
*/
h1 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

/*
  2 - Deixe o parágrafo com o font-weight 600
  4 - Coloque o tamanho do parágrafo com o tamanho de 3 vezes o padrão do body
*/
p {
  font-weight: 600;
  font-size: 3em;
}

/*
  3 - Modifique o font-size do body para 16px
*/
body {
  font-size: 16px;
}

/*
  5 - Explore a propriedade font-style, line-height, text-align e text-decoration
*/
.list-style {
  text-align:center;
  font-weight: bolder;
  line-height: 40px;
  text-decoration: underline;
  font-style: italic;
}

/*
  6 - Troque a cor de fundo de cada item da lista para a cor correspondente ao texto
*/
  .first-list {
  background-color: yellow;
}

.second-list {
  background-color: red;
}

.third-list {
  background-color: brown;
}
