/*
2 - Crie um arquivo no mesmo diretório e nomeie-o de 'style.css'.
3 - Nesse arquivo .css, adicione os estilos para que:
O texto das tags 'h1' e 'p' estejam centralizados.*/

h1, p {
  text-align: center;
}

/*A cor de fundo da sua lista mude quando o cursor estiver sobre o item.*/
li:hover {
  background-color: lightcoral;
}

/*A fonte do item mude quando ele for clicado.*/
li:active {
  font-family: monospace;
}

/*5 - No 'style.css', adicione a propriedade 'list-style: none' para ambas as listas.*/
li {
  list-style: none;
}