
/*1 - Posicione o Mário acima do Goomba.*/
.super-mario {
  width: 200px;
  position: absolute;
  top: 50px;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 310px;
  left: 130px;
}
/*3 - Posicione o balão para que se torne uma fala de Bowser.*/
.baloon {
  position: absolute;
  top: 60px;
  left:200px;
}
/* 2 - Posicione a tag p para que fique dentro do balão de fala.*/
.speach {
  font-size: 25px;
  position: absolute;
  top: 100px;
  left: 220px;
  z-index: 1;
} 

.bowser {
  width: 200px;
  position: absolute;
  top: 182px;
  left: 480px;
}
